#logo{
    /* ridimensionamento logo */
    width: 15%;
}
header{
    /* inserimento immagine di sfondo */
    background-image: url(pattern.png); 
    /* impostare l'immagine di sfondo in dimensione automatica */
    background-size: auto;
    /* assegnazione colore all'immagine di sfondo */
    background-color:	#5CACEE;
    /* margine di pixel da lasciare sopra */
    padding-top: 7%;
}

body{
/* creazione margine e accentramento della corpo della pagina */
    width: 55%;
    margin: 0 auto;
}

 h1{ 
    font-size: 300%;
    margin-bottom: 0%;
    margin-top: 0%;
}

#sottotitolo{
    font-size: 100%;
    color: grey;
}

#a{
    color: #5CACEE;
}

#data{
    font-size: 80%;
    color: grey;
    margin-bottom: 1%;
}
 
#dimensioneimmagini{
    width: auto;
}

#descrizione{
    font-size: 80%;
}

.lorem{
    margin-top: 5%;
}

.evidenziatore{
    background-color: yellow;
}
